WpfClientCurrency/Connected Services/CurrencyService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CurrencyService/MyCurrencyService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyModel" />
  <xs:element name="GetAllCurrencies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CurrencyModel" minOccurs="0" name="GetAllCurrenciesResult" nillable="true" type="q1:CurrencyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Convert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CurrencyModel" minOccurs="0" name="source" nillable="true" type="q2:Currency" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CurrencyModel" minOccurs="0" name="dest" nillable="true" type="q3:Currency" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>