WpfClientCurrency/Connected Services/CurrencyService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CurrencyModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CurrencyModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CurrencyList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency" nillable="true" type="tns:Currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyList" nillable="true" type="tns:CurrencyList" />
  <xs:complexType name="Currency">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
      <xs:element minOccurs="0" name="change" type="xs:double" />
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
</xs:schema>