WpfClientCurrency/Connected Services/CurrencyService/MyCurrencyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MyCurrencyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CurrencyService/MyCurrencyService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CurrencyService/MyCurrencyService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CurrencyService/MyCurrencyService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyService_GetAllCurrencies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCurrencies" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_GetAllCurrencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_Convert_InputMessage">
    <wsdl:part name="parameters" element="tns:Convert" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_Convert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyService">
    <wsdl:operation name="GetAllCurrencies">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/GetAllCurrencies" message="tns:ICurrencyService_GetAllCurrencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/GetAllCurrenciesResponse" message="tns:ICurrencyService_GetAllCurrencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Convert">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/Convert" message="tns:ICurrencyService_Convert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/ConvertResponse" message="tns:ICurrencyService_Convert_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurrencyService" type="tns:ICurrencyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCurrencies">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/GetAllCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Convert">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/Convert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyCurrencyService">
    <wsdl:port name="BasicHttpBinding_ICurrencyService" binding="tns:BasicHttpBinding_ICurrencyService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CurrencyService/MyCurrencyService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>